{% extends 'base.html.twig' %}

{# {% block title %}{% endblock %} #}

{% block body %}

{% for messages in app.flashes('success') %}

    <div class="alert alert-success">
        <h3>{{ messages }}</h3>
    </div>

{% endfor %}

<div class="container">

<table class="table table-striped">
    <thead>
        <tr>
            <td>Order No.</td>
            <td>Name</td>
            <td>Description</td>
             <td>Price</td>
            <td>Delete</td>
            <td> <a href="{{path('dish.create')}}">Create</a></td>
        </tr>
    </thead>
    <tbody>
        {% for dish in getDishes %}
            <tr>
                <td>{{dish.id}}</td>
                <td>{{dish.name}}</td>
                <td>{{dish.description}}</td>
                <td>{{dish.price}}</td>
                <td> <a href="{{path('dish.remove', {id: dish.id})}}">x</a></td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
