{% extends 'base.html.twig' %}


{% block body %}

{% for message in app.flashes('Order') %}
    <div class="alert alert-success">
    <h3> {{message}} </h3>
    </div>
{% endfor %}

<!-- Playlist section -->
	<section class="playlist-section spad">
		<div class="container-fluid">
			<div class="section-title">
				<h2>Menu</h2>
			</div>
			<div class="container">
				<ul class="playlist-filter controls">
					<li class="control" data-filter="all">All Dishes</li>

					{% for category in categories %}
					<li class="control" data-filter=".{{category.name |replace({' ': ''}) }}">{{category.name}}</li>
					{% endfor %}
				</ul>
			</div>                                              
			<div class="clearfix"></div>
			<div class="row playlist-area">

            {% for dish in dishes %}
				<div class="mix col-lg-3 col-md-4 col-sm-6 {{dish.category |replace({' ': ''}) }}">
					<div class="playlist-item">
						<img src="{{asset('images/' ~ dish.image)}}" alt="">
						<h5>{{dish.description}} - INR {{dish.price}}</h5>
                        <p>Best Nr. {{dish.id}}</p>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="btn btn-outline-danger btn-sm" href="{{ path('addorder', {id: dish.id}) }}" role="button">Order</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Playlist section end -->

{% endblock %}
